.Rproj.user
.Rhistory
.RData
.Ruserdata
config.yml
demand_*.csv
Programs/R/working
Programs/GAMS/GEMsetup.inc
*.lst
*.lxi
*.ref
*.opt
*Obsolete
Programs/GAMS/*.gdx
Output/*
!Output/placeholder.txt
Data/GEMsolveInput/GDX/GEMdata.gdx

